<!DOCTYPE html>
<html>

<head>
  <title>site</title>
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/media.css">
</head>

<body>
<header>
    <div class="wrapperHeader">
        <a href="https://www.google.com.ua/">Brand</a>
        <a href="https://www.google.com.ua/">Frontpage</a>
        <a href="https://www.google.com.ua/">Portfolio</a>
        <a href="https://www.google.com.ua/">Blog</a>
        <a href="https://www.google.com.ua/">Documentation</a>
        <a href="https://www.google.com.ua/">Contact</a>
        <a href=https://www.google.com.ua/>Login</a>
    </div>
</header>
  
  <main>
    <div class="wrapp">
      <h1> Sample Heading</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce <br> dapibus, tellus ac cursus commodo</p>
      <div class="button"><input type="button" value=" Button">
      <input type="button" value=" Button">
    </div>
    </div>
  
  <div class="section">
    <div class="sec1">
      <img src="D:\hillel\first site\assets\images\cogwheel.png">
      <h4>Sample Heading</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
   <div class="sec1">
      <img src="D:\hillel\first site\assets\images\cogwheel.png">
      <h4>Sample Heading</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div><div class="sec1">
      <img src="D:\hillel\first site\assets\images\cogwheel.png">
      <h4>Sample Heading</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div><div class="sec1">
      <img src="D:\hillel\first site\assets\images\cogwheel.png">
      <h4>Sample Heading</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div><div class="sec1">
      <img src="D:\hillel\first site\assets\images\cogwheel.png">
      <h4>Sample Heading</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div><div class="sec1">
      <img src="D:\hillel\first site\assets\images\cogwheel.png">
      <h4>Sample Heading</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

 <div class="wrapp2">
    <div class="img1"> <img src="https://s00.yaplakal.com/pics/pics_original/4/6/4/10101464.jpg"></div>
    <div class="wrapper">
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <h3>Subheading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="b1"><input type="button" value=" Button "></div>
    </div>
  </div>

   <div class="wrapp3">
    <div class="wrapper1">
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <h3>Subheading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="b2"><input type="button" value=" Button "></div>
    </div>
      <div class="img2"> <img src="http://bipbap.ru/wp-content/uploads/2017/04/72fqw2qq3kxh.jpg"></div>
    </div>
  </div> 

  </main>
  </div>
  <footer class="footer">
    <div class="f1">
      <p>Phasellus viverra nulla ut metus.<b>Quisque rutrum etiam ultricies nisi vel augue.</b></p>
      <div class="b3"><input type="button" value=" Button "></div>
    </div>
      <div class="f2"><h5>Our Clients</h5></div>
    </div>
    <div class="f3">
      <div> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfPd-u1gGslwTN27ao5mBlCAoEBfXWdhWlEj5V_6NJOjRN0r58"></div>
      <div> <img src="http://cdn.fishki.net/upload/post/2017/03/19/2245758/tn/06-funny-cat-wallpapercat-wallpaper.jpg"></div>
      <div> <img src="https://cbswycd2.files.wordpress.com/2015/07/minionssoundtrack1.jpg?w=640&h=360&crop=1"></div>
      <div> <img src="https://i.ytimg.com/vi/go2v-JWCQ00/hqdefault.jpg"></div>
      <div> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjye76cjyGoBnqRArJcQnvJBQ4NHFR_Rip74pUi5NFm40PLTUj"></div>
      <div> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgELkE0REIlfRQ4oiGmQJy8kPIbzol_YRbWJRK-Bhtu4DLlseR"></div>
    </div>


  </footer>


</body>

</html>

